@font-face {
    font-family: "CantoraOne";
    src: url("/client/public/fonts/CantoraOne-Regular.ttf");
}

@font-face {
    font-family: "BebasNeue";
    src: url("/client/public/fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "StintultraCondensed";
    src: url("/client/public/fonts/StintUltraCondensed-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url('/client/public/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: "wwDigital";
    src: url("/client/public/fonts/wwDigital.ttf");
}

@font-face {
    font-family: "chakraPetchItalic";
    src: url("/client/public/fonts/ChakraPetch-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "Inconsolata";
    src: url("/client/public/fonts/Inconsolata-VariableFont_wdth,wght.ttf");
}

html,
body {
    color: black;
    padding: 0;
    margin: 0 0 -20px;
    font-family: CantoraOne, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
